extends layout  

block content
    h1(id = "sitename") Pay Check
    p This is a site meant to help keep track of how much you've paid for rent
    p (it also has a grocery list so it's more useful than just an online payment record)