body{
    margin: 0;
    background-color:  	#435274;
    color: #d8ebf6;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
#sitename{
    font-family: "Comfortaa", sans-serif;
    font-size: 200pt;
    background: linear-gradient(#76F2ED, #83C5F7);
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    overflow: hidden;
}
nav{
    display: flex;
    width: 100%;
    min-height: 10%;
    max-height: 13%;
    background-color: #d1d1d188;
}
.tabs{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.navicons{
    height: auto;
    width: auto;
    min-height: 20px;
    min-width: 20px;
    max-height: 90%;
    max-width: 90%;
    vertical-align: middle;
}

/* Table stuff */
